* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
}
.clear {
    clear: both;
}

/* HEADER */

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background: linear-gradient(#dbdbdb, #f0f0f0);
    padding: 10px 2% 40px 2%;
    box-shadow: 0px 5px 20px #000;
}
header .container {
    margin-top: 30px;
}
.logo-1 {
    background: url(../imagens/logo1.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 150px;
    height: 60px;
    float: left;
}

.logo-2 {
    background: url(../imagens/logo2.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 150px;
    height: 60px;
    float: right;
}

@media screen and (max-width: 550px) {
    header {
        text-align: center;
    }
    .logo-1, .logo-2 {
        margin-top: 10px;
        float: none;
        display: inline-block;
    }
}

/********/

/* SECTION */

section.cover-form {
    width: 100%;
}   

.bg {
    background: url(../imagens/bg-form.jpg) no-repeat;
    height: 560px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.form-container {
    height: 105%;
    width: 400px;
    position: absolute;
    right: 30px;
    top: -2.5%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 15px rgba(5, 5, 5, 0.75);
    z-index: 999;
}
.form-container form {
    padding: 15px;
}
.form-container p {
    color: #525252;
    font-weight: bolder;
}
.form-container h2 {
    background-color: rgb(234, 236, 239);
    color: #000;
    font-size: 18px;
    font-weight: normal;    
    width: 100%;
    padding: 30px 15px;
}

.input-wrapper {
    padding: 10px;
    margin-top: 20px;
}
.input-wrapper input {
    transition: .1s;
}
.input-wrapper input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    font-size: 18px;
    padding-left: 15px;
    height: 45px;
    border: none;
    border-left: 3px solid #056281;
    background: none;
}

.input-wrapper input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover {
    cursor: text;
}


.input-wrapper input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    border-left: none;
    border-bottom: 8px solid #056281;
    background: white;
}
.input-wrapper input[type="submit"] {
    width: 100%;
    height: 45px;
    border: none;
    background: #033c50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .1s;
    border-radius: 3px;
}
.input-wrapper input[type="submit"]:hover {
    color: rgb(218, 218, 218);
}
.last-wrapper {
    margin-top: -10px;
}
.input-wrapper small {
    color: #ff0000;
}

section.chamada {
    width: 100%;
    text-align: center;
    display: inline-block;
    z-index: 1;
    position: relative;
}
section.chamada .container {
    background-color: #055875;
    padding: 40px 0;
    box-shadow: 0px 0px 20px;
}
section.chamada h2 {
    display: inline-block;
    width: 98%;
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    max-width: 600px;
}
section.chamada h3 {
    font-size: 25px;
    color: rgb(41, 41, 41);
    font-weight: normal;
}

.flex-mosaico {
    display: flex;
    box-shadow: 0px 0px 20px;
}
.item-1-mosaico {
    background-size: cover;
    background-position: center;
    width: 60%;
}
.item-2-mosaico {
    width: 40%;
    padding: 60px 35px;
    text-align: justify;
    color: white;
    background: #215170;
}
.pre-footer .container {
    padding: 30px;
    text-align: center;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px;
    background-image: linear-gradient(#dbdbdb, #f0f0f0);
}
.pre-footer .container h3 {
    font-weight: lighter;
    margin-bottom: 10px;
}
.pre-footer .container a {
    color: black;
}
footer {
    text-align: center;
    margin: 50px 0;
}
footer p {
    margin: 30px 0;
}
footer img {
    display: inline-block;
}
.seta {
    position: absolute;
    left: 50%;
    top: -32px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    background-image: url('../imagens/arrow.png');
}
/**********/
@media screen and (max-width: 960px) {
    .form-container {
        width: 96%;
        max-width: 400px;
        position: static;
        display: inline-block;
    }
    .bg {
        padding: 40px 0;
        height: auto;
        text-align: center;
    }
    .form-container input {
        margin-top: 5px;
    }
}
@media screen and (max-width: 800px) {
    .flex-mosaico {
        display: block;
    }
    .item-1-mosaico, .item-2-mosaico {
        width: 100%;
    }
    .item-1-mosaico {
        padding-top: 80%;
    }
}